* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

/* flexbox */
/* el eje principal: */
/* justify-content: ; */

/* el eje secundario: */
/* align-items: ; */
.container {
  background-color: peru;
  margin: 50px auto;
  width: 800px;
  height: 500px;

  /* flexbox */
  /* cuando el eje principal es la horizontal */
  display: flex;
  flex-direction: row;
  justify-content: end;
  justify-content: center;
  /* justify-content: space-between; */
  /* justify-content: space-around; */
  flex-wrap: wrap;

  /* para el eje secundario o la vertical */
  align-items: center;
  align-items: end;
}

.caja {
  background-color: blueviolet;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

/* flexbox */
/* el eje principal: */
/* justify-content: ; */

/* el eje secundario: */
/* align-items: ; */
.container2 {
  background-color: peru;
  margin: 50px auto;
  width: 800px;
  height: 700px;

  /* flexbox */
  display: flex;
  /* cuando el eje principal es la vertical */
  flex-direction: column;
  justify-content: end;

  /* eje secundario */
  align-items: end;
}
